autores.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autores">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="autor">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="nome" type="xs:string" />
                <xs:element name="dataNascimento" type="xs:string" />
                <xs:element name="dataMorte" type="xs:string" />
                <xs:element name="nacionalidade" type="xs:string" />
                <xs:element name="generoLiterario" type="xs:string" />
                <xs:element name="ocupacoes">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="ocupacao" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="conjuge" type="xs:string" />
                <xs:element name="linkFoto" type="xs:string" />
                <xs:element name="premios">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="premio" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>