obras.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obras">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="livro">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="isbn" />
              <xs:element name="titulo" />
              <xs:element name="autor" />
              <xs:element name="editora" />
              <xs:element name="preco" />
              <xs:element name="quantidadePaginas" />
              <xs:element name="idioma" />
              <xs:element name="encadernacao" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>