obras.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obras">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="livro">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="isbn" type="xs:string" />
              <xs:element name="titulo" type="xs:string" />
              <xs:element name="autor" type="xs:string" />
              <xs:element name="editora" type="xs:string" />
              <xs:element name="preco" type="xs:decimal" />
              <xs:element name="quantidadePaginas" type="xs:short" />
              <xs:element name="anoEdicao" type="xs:string" />
              <xs:element minOccurs="0" name="idioma" type="xs:string" />
              <xs:element name="encadernacao" type="xs:string" />
              <xs:element name="fotoCapa" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>