escritores/escritores.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="escritores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nome">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dataNascimento" />
              <xs:element name="dataMorte" />
              <xs:element name="nacionalidade" />
              <xs:element name="generoLiterario" />
              <xs:element name="ocupacoes" />
              <xs:element name="premios" />
              <xs:element name="conjuge" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>